/* selector part  here :*/

/* 1. universal selctor */
*{
    margin:0px;
    padding: 0px;
   
}

/* 2. element selctor */
/*
p{
    font-size: 20px;
    background-color: brown;
    margin-top:35px;
    margin-bottom: 20px;
}*/


/* 2. id selctor */
#hello{
    font-size: 25px;
    background-color: blue;
    text-align: center;
    border: 5px solid red;

}
/* 3. class selctor */
.class{
    border:5px solid maroon;
    padding:5px;
    margin:5px;

}

.gap{
    margin:5px;
    background-color: orange;
    border:3px dashed red;
}

/* 3. Box modeling */
.box-model-content{
    background-color: pink;
    font-size: 25px;
    box-sizing: content-box;
    padding: 10px;
    border: 5px dashed maroon;
    margin-top:25px;
     margin-left: 10px;
    height: 90px;
    width:450px;

    /*content box model e sob kisu hisab hobe + height/width */

}

.box-model-border{
    box-sizing: border-box;
    height: 100px;
    width: 500px;
    background-color: chocolate;
    padding: 15px;
    border: 5px solid magenta;
    margin-top: 25px;
     margin-left: 10px;

/*border box model e sob kisu hisab hobe - height/width (means heigth / width er moddho sob kisu hobe*/

}

/* 5. Css Position */

.position-static{
    border:2px dotted black;
    padding:15px;
    margin-top: 10px;
    position:static;
    top: 10px;
    left:15px;

    /* static Position  e top,left,right,bottom kisu kaj korbe na*/

}

.position-relative{
    border:2px dashed black;
    padding:15px;
    margin-top: 10px;
    
    position:relative;
    top: 10px;
    left:15px;
    background-color: palegoldenrod;
    height: 300px;
    
    

    /* relative Position  e top,left,right,bottom kisu kaj korbe */

}

.position-fixed{
    border:2px dashed black;
    
    background-color: brown;
    position:fixed;
    top: 10px;
   /* fixed Position  e top,left,right,bottom kisu kaj korbe....top dile ekdom suru theke suru hobe */

}

.position-fixed button{
    height: 45px;
    width: 60px;
   /*button thik korlam */
}

.position-absoulate{
    border:2px dashed black;
    background-color: brown;
    position:absolute;
    width: 150px;
    top: 150px;
    left: 90px;
   
   /* absolute Position  e top,left,right,bottom kisu kaj korbe kinto ekhane parents ( position: relative er vitor theke kaj korte hobe) */

}
.grid-class{
    background-color: brown;
    display: flex;
    height:61px;

}

.grid-class div{
    background-color: blue;
    border:3px solid red;
    display: flex;
    height: 50px;
    width: 50px;
    box-sizing: content-box;
    padding:3px ;
    margin-left:90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
    

}
